/* main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
} */
*{
  margin: 0;
  padding: 0;
}

main{
  background-image: linear-gradient(to bottom left, #0c7bb3, #4f93b5);
  height: 750px;
}

.nav--bar{
  box-shadow: 0 0px 0px 0 #a8a8a8;
  height: 20px;
  padding: 20px;
  background: #0c7bb3;
}

.nav--text{
  display: grid;
  text-align: center;
}
 td{
  border: 1px solid #f8e8ea;
  white-space: none;
  overflow: none;
  text-align: center;
}

table{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #fde7eb;
}

.table--btn{
background-image: linear-gradient(to bottom right, #0c7bb3, #f2bae8);
  padding: 0px 10px;
  border: none;
  border-radius: 10px;
}

.btn--td{
  border: none;
}


.ui--section{
  width: 50%;
  margin: 10px auto;
}

.contact--big-text{
  font-size: 25px;
  text-align: center;
  margin: 20px;
}

.input--single{
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

input{
  padding: 20px 50px;
}
input:focus{
  outline: none;
  outline-color: transparent;
}

textarea{
  padding: 20px 50px;
}
textarea:focus{
  outline: none;
  outline-color: transparent;
}

.submit--button{
  margin: 10px;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to bottom right, #0c7bb3, #f2bae8);
  color: white;
  padding: 20px 50px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}
.submit--button:hover{
   background-image: linear-gradient(to bottom right, #2483b2, #efcce9);
}


  .error--span{
    color: red;
    font-size: 12px;
  } 

.ut--section{
  margin: 10px auto;
  margin-top: 30px;
}